<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Features</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/styles/main.css" />
    </head>
    <body>
        <% if (locals.featuresData) { %>
        <div class="feature flex fl-cntr">
            <table class="feature-card flex fl-cntr">
                <tr class="feature-item">
                    <th>Name</th>
                    <td><%= featuresData.name %></td>
                </tr>
                <tr class="feature-item">
                    <th>Level</th>
                    <td><%= featuresData.level %></td>
                </tr>
                <tr class="feature-item">
                    <th>Description</th>
                    <td>
                        <% for (let i = 0; i< featuresData.desc.length; i++) { %>
                        <li><%= featuresData.desc[i] %></li>
                        <% } %>
                    </td>
                </tr>
                <tr class="feature-item">
                    <th>Class</th>
                    <td><%= featuresData.class.name %></td>
                </tr>
                <tr class="feature-item">
                    <th>URL</th>
                    <td>Click <a href="https://www.dnd5eapi.co<%= featuresData.url %>">here</a> to see more details</td>
                </tr>
            </table>
        </div>
        <% } %>
    </body>
</html>
