<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>API</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/styles/main.css" />
    </head>

    <body class="project">
        <h1 class="project-title" id="project-title"></h1>
        <div id="project-hero"></div>
        <form class="flex fl-cntr" id="form-container"></form>
        <% if (locals.content) { %>
        <ul class="grid details-list">
            <% for (let i=0; i < locals.content.length; i++) { %>
            <li class="details">
                <a href="<%= `${locals.endPoint}/${locals.content[i].index}` %>" class="flex fl-cntr">
                    <p><%= locals.content[i].name %></p>
                    <p><%= locals.content[i].index %></p>
                </a>
            </li>
            <% } %>
        </ul>
        <% } else { %>
        <h2><%= content %></h2>
        <% } %> <% if (locals.content) { %> <% if (locals.content.length > 29) { %>
        <ul class="pagination flex fl-cntr" id="pagination"></ul>
        <% } %> <% } %>
        <script>
            // An error might be seen with a red squiggly line
            // you can ignoe this as this is used for passing data to external JS file.
            window.resultsData = <%- JSON.stringify(locals.content || {}) %>;
            window.count = <%- JSON.stringify(locals.count) %>;
        </script>
        <script src="/scripts/script.js"></script>
    </body>
</html>
